@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 1em;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  background: #feffe9;
  text-align: center;
}

div {
  margin: auto;
  width: 80%;
  box-shadow: 0 0 8px dodgerblue;
  padding: 1em;
  background: white;
}

/* #root {
  border: 1px solid black;
}

.App {
  border: 2px solid red;
}

.div-one {
  border: 3px solid grey;
}

.div-two {
  border: 4px solid blue;
} */
